useDynLib(LibeRation, .registration = TRUE)
import(Rcpp)
import(LibeRtAD)
importFrom(R6,R6Class)
importFrom(data.table,as.data.table,copy,fread,rbindlist)
importFrom(stats,acf,optim,quantile,rnorm,setNames,median,var)
export(nm_bench_case)
export(nm_bench_compare)
export(nm_bench_compare_sim)
export(nm_bench_ctl)
export(nm_bench_mixed_design)
export(nm_bench_pairs)
export(nm_bench_pilot)
export(nm_bench_read_ext)
export(nm_bench_read_simtab)
export(nm_bench_run_all)
export(nm_bench_run_nonmem)
export(nm_bench_simulate_rcppnm)
export(nm_bench_summarize)
export(nm_bench_summarize_sim)
export(nm_bench_summarize_est)
export(nm_nonmem_available)
export(nm_bootstrap_se)
export(nm_dataset)
export(nm_dataset_from_table)
export(nm_est)
export(nm_etab)
export(nm_lik_config)
export(nm_mcmc_diagnostics)
export(nm_model)
export(nm_nll)
export(nm_par_table)
export(nm_proj)
export(nm_proj_load)
export(nm_proj_save)
export(nm_proj_set)
export(nm_from_nlmixr2)
export(nm_ctl_template)
export(nm_ctl_advan_choices)
export(nm_ctl_compose)
export(nm_ctl_canonical)
export(nm_ctl_default_des)
export(nm_ctl_default_obscmp)
export(nm_ctl_default_trans)
export(nm_ctl_effective_trans)
export(nm_ctl_essential_input_cols)
export(nm_ctl_is_valid_pair)
export(nm_ctl_model_info)
export(nm_ctl_output_extra_cols)
export(nm_ctl_parse)
export(nm_ctl_picker_columns)
export(nm_ctl_read_columns)
export(nm_ctl_show_trans)
export(nm_ctl_subroutine_text)
export(nm_ctl_trans_choices)
export(nm_ctl_use_ode)
export(nm_job_cancel)
export(nm_job_cleanup)
export(nm_job_list)
export(nm_job_log)
export(nm_job_result)
export(nm_job_root)
export(nm_job_status)
export(nm_job_submit)
export(nm_job_submit_sim)
export(nm_sim_design_dataset)
export(nm_sim_template_data)
export(nm_sim_workload)
export(nm_job_watch_signature)
export(liberation_shiny)
export(nm_report_pdf)
export(nm_read_nonmem)
export(nm_workspace_delete_project)
export(nm_workspace_delete_run)
export(nm_workspace_delete_sim)
export(nm_workspace_delete_version)
export(nm_workspace_import_dataset)
export(nm_workspace_create_project)
export(nm_workspace_fit_path)
export(nm_workspace_init)
export(nm_workspace_list_datasets)
export(nm_workspace_list_models)
export(nm_workspace_list_projects)
export(nm_workspace_list_project_sims)
export(nm_workspace_list_project_runs)
export(nm_workspace_list_runs)
export(nm_workspace_list_sims)
export(nm_workspace_list_versions)
export(nm_workspace_load_fit)
export(nm_workspace_load_run_fit)
export(nm_workspace_load_run_vpc)
export(nm_workspace_model_data_path)
export(nm_workspace_model_path)
export(nm_workspace_new_model)
export(nm_workspace_new_run_id)
export(nm_workspace_new_sim_id)
export(nm_workspace_copy_version)
export(nm_workspace_new_version)
export(nm_add_cwres)
export(nm_add_npc_npde)
export(nm_ctl_apply_fit_inits)
export(nm_fit_covariance)
export(nm_cov_step)
export(nm_fit_correlation)
export(nm_focei_setup)
export(nm_fit_param_table)
export(nm_fit_par_gradients)
export(nm_fit_standard_errors)
export(nm_workspace_param_table)
export(nm_workspace_parse_model)
export(nm_workspace_read_model)
export(nm_workspace_reports_dir)
export(nm_workspace_root)
export(nm_workspace_save_fit)
export(nm_workspace_save_run)
export(nm_workspace_save_sim)
export(nm_workspace_write_model)
export(nm_workspace_load_sim)
export(nm_to_nlmixr2)
export(nm_shrinkage)
export(nm_simulate)
export(nm_support_matrix)
export(nm_synthetic_theo)
export(nm_synthetic_catalog)
export(nm_synthetic_dataset)
export(nm_synthetic_warf)
export(nm_synthetic_pheno)
export(nm_synthetic_digox)
export(nm_synthetic_iv1)
export(nm_synthetic_iv2)
export(nm_synthetic_iv3)
export(nm_synthetic_oral3)
export(nm_synthetic_multidose)
export(nm_synthetic_steady)
export(nm_synthetic_infusion)
export(nm_synthetic_pkpd_emax)
export(nm_task)
export(nm_validate_fit)
export(nm_validate_model)
S3method(predict,nm_fit)
S3method(print,nm_job_handle)
S3method(print,nm_engine_detail)
S3method(print,nm_fit)
S3method(print,nm_lik_config)
S3method(print,nm_model)
S3method(print,nm_profile)
S3method(print,nm_proj)
S3method(print,summary.nm_fit_bayes)
S3method(profile,nm_fit)
S3method(residuals,nm_fit)
S3method(summary,nm_fit)
