useDynLib(LibeRation, .registration = TRUE)
importFrom(R6,R6Class)
importFrom(Rcpp,evalCpp)
importFrom(stats,optim,predict,rnorm)
importFrom(utils,tail)
export(NMEngine)
export(liber_doctor)
export(liber_gui)
export(liber_workbench)
export(liberWorkbenchOutput)
export(renderLiberWorkbench)
export(nm_compile)
export(nm_control_read)
export(nm_control_write)
export(nm_bootstrap)
export(nm_benchmark_gate)
export(nm_benchmark_provenance)
export(nm_cov_step)
export(nm_etab)
export(nm_gof)
export(nm_dataset)
export(nm_est)
export(nm_est_sequence)
export(nm_est_stage)
export(nm_matrix_model)
export(nm_lik_config)
export(nm_outcome)
export(nm_outcomes)
export(nm_irt_outcomes)
export(nm_outcome_diagnostics)
export(nm_hmm_config)
export(nm_cthmm_config)
export(nm_residual_group)
export(nm_kalman_config)
export(nm_kalman_decode)
export(nm_sde_config)
export(nm_switching_state_space_config)
export(nm_re_block)
export(nm_re_config)
export(nm_arma_config)
export(nm_hsmm_config)
export(nm_factorial_chain)
export(nm_factorial_hmm_config)
export(nm_hmm_decode)
export(nm_experimental_config)
export(nm_dde_config)
export(nm_dae_config)
export(nm_component)
export(nm_component_code)
export(nm_qsp_system)
export(nm_qsp_model)
export(nm_individual_fit)
export(nm_model)
export(nm_model_contract_fields)
export(nm_model_from_contract)
export(nm_model_to_contract)
export(nm_model_template)
export(nm_structural_templates)
export(nm_piecewise)
export(nm_spline)
export(nm_model_outputs)
export(nm_model_diagram)
export(nm_diagram_preview)
export(nm_diagram_generate)
export(nm_model_diagram_get)
export(nm_report_block)
export(nm_report_design)
export(nm_report_design_save)
export(nm_report_design_load)
export(nm_report_design_render)
export(nm_model_cpp)
export(nm_mixture)
export(nm_mixture_posterior)
export(nm_npc)
export(nm_npde)
export(nm_objective)
export(nm_prediction_derivatives)
export(nm_project_create)
export(nm_project_copy)
export(nm_project_delete)
export(nm_project_delete_snapshot)
export(nm_project_list)
export(nm_project_load)
export(nm_project_save)
export(nm_project_save_run)
export(nm_project_save_diagnostics)
export(nm_project_load_diagnostics)
export(nm_prior)
export(nm_report)
export(nm_profile)
export(nm_scm)
export(nm_simulate)
export(nm_vpc)
export(nm_vpc_categorical)
export(nm_vpc_competing)
export(nm_vpc_count)
export(nm_vpc_recurrent)
export(nm_vpc_tte)
export(nm_validation_gate)
export(nm_support_matrix)
export(nm_workspace)
export(nm_workspace_backup)
export(nm_workspace_gc)
export(nm_workspace_migrate)
export(nm_workspace_verify)
S3method(print,nm_dataset)
S3method(print,nm_fit)
S3method(predict,nm_fit)
S3method(residuals,nm_fit)
S3method(summary,nm_fit)
S3method(print,summary.nm_fit)
S3method(print,nm_model)
S3method(print,nm_lik_config)
S3method(print,nm_outcome)
S3method(print,nm_hmm_config)
S3method(print,nm_residual_group)
S3method(print,nm_kalman_config)
S3method(print,nm_sde_config)
S3method(print,nm_switching_state_space_config)
S3method(print,nm_re_config)
S3method(print,nm_arma_config)
S3method(print,nm_hsmm_config)
S3method(print,nm_factorial_hmm_config)
S3method(print,nm_experimental_config)
S3method(print,nm_dde_config)
S3method(print,nm_dae_config)
S3method(print,nm_component)
S3method(print,nm_qsp_system)
S3method(print,nm_individual_fit)
S3method(print,nm_workspace)
S3method(print,liber_diagnostics)
S3method(print,liber_workspace_verification)
S3method(print,nm_validation_gate)
